# SQL Workshop

In [106]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [107]:
engine = create_engine('sqlite://', echo=False)

## Movies Dataset
First we need to read our movie dataset csv file into a pandas dataframe. Then, it is easier to create a sqlite engine to run sql statements on our dataset.

In [108]:
movies = pd.read_csv('movie_metadata.csv')

In [109]:
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

The `to_sql` method writes records stored in a DataFrame to a SQL database.

In [ ]:
movies.to_sql('movies', con=engine)

### What do you think these example sql statements will output?
`DISTINCT` and `WHERE` example:

In [ ]:
engine.execute("SELECT distinct(actor_2_name) FROM movies WHERE imdb_score > 8.5").fetchall()

`LIKE` example:

In [ ]:
engine.execute("SELECT movie_title FROM movies WHERE genres LIKE '%Thriller%'").fetchall()

`GROUP BY`, `ORDER BY`, and `LIMIT` example:

In [ ]:
engine.execute("SELECT country, avg(duration) FROM movies GROUP BY country ORDER BY avg(duration) desc LIMIT 10").fetchall()

## Practice SQL Questions
Show titles of all movies that are rated R.

In [ ]:
engine.execute("SELECT ... FROM movies WHERE ...").fetchall()

Show titles and duration of movies that have Sci-Fi as a genre.

In [ ]:
engine.execute("SELECT ... FROM movies WHERE ... LIKE ...").fetchall()

Show top 10 directors grouped by total gross sum of their movies

In [ ]:
engine.execute("SELECT director_name, ... as sum FROM movies GROUP BY ... ORDER BY ... LIMIT ...").fetchall()

Show the lowest 10 countires by their average imdb scores

In [ ]:
engine.execute("SELECT ... FROM movies GROUP BY ... ORDER BY ... LIMIT ...").fetchall()

## Advanced SQL Challenge

Of movies rated above 8 find the number of english movies made in the U.S. 

*Hint*: Use a nested SELECT statement

In [ ]:
engine.execute("...").fetchall()